<h1><%= @teacher.name %>'s <%=@group.name%></h1>
<h3><%= @assignment.name %></h3>

<p>
  <strong>Description:</strong>
  <%= @assignment.description %>
</p>

<h2>Submissions</h2>
<table>
  <tr>
    <th>Submitter</th>
    <th>Description</th>
  </tr>

  <% @submissions.each do |submission| %>

  <tr>
    <td><%= submission.name %></td>
    <td><%= submission.description %></td>
    <td><%= link_to 'Show', submission %></td>
  </tr>

  <% end %>
</table>
<br>
<%= link_to 'New Submission', new_assignment_submission_path(@assignment) %><br>

<%= link_to 'Edit Assignment', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', group_path(@group) %>
