<h1><%= @teacher.name %>'s <%= @group.name %></h1>

<h3><%= @assignment.name %></h3>

<p>
  <strong>Assignment Description:</strong>
  <%= @assignment.description %>
</p>

<p>
  <strong>Submitter:</strong>
  <%= @submission.name %>
</p>

<p>
  <strong>Submission Description:</strong>
  <%= @submission.description %>
</p>

<audio controls>
  <source src = "<%= @submission.recording.url %>">
</audio>

<br><br>

<%= link_to 'Edit Submission', edit_submission_path(@submission) %> |
<%= link_to 'Back', assignment_path(@assignment) %>
