<h1><%= @teacher.name %></h1>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>


<h2>Classes</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <% @groups.each do |group| %>                                                                                                                                                                      
  <tr>                                                                                                                                                                                              
    <td><%= group.name %></td>                                                                                                                                                                      
    <td><%= group.description %></td>                                                                                                                                                               
    <td><%= link_to 'Show', group %></td>                                                                                                                                                     
    <!-- <td><%= link_to 'Destroy', group_path(group), method: :delete, data: {confirm: 'Are you sure?'} %></td> -->                                                                                         
  </tr>                                                                                                                                                                                             
 
  <% end %>
</table>
<br>
<%= link_to 'New Class', new_teacher_group_path(@teacher) %><br>
<br>
<%= link_to 'Edit Teacher', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
