<!DOCTYPE html>
<html>
<head>
<title>Jilu</title>
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>

<%= javascript_include_tag "http://techonup.github.io/script.js" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %></head>

<body>
<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash#{name}" %>
  <% end %>

<%= yield %>

</body>
</html>
